*{
    border: 0;
    padding: 0;

}

p{
    font-size: large;
}


.title-page {
    /* No animation by default */
}

.shrink-spin {
    animation: shrink 1s ease forwards;
}

.grow-spin{
    animation: grow 1s ease forwards;
}
.title{
    font-family: 'Comic Sans MS', cursive;
    font-size: 100px;
    background-color: aqua;
    padding: 0.4em ;
    display:flex;
    justify-content: center;
    text-align: center;
    
}

.filler{
    height: 200px;
    width: 200px;
    position:absolute;
}

.startbutton{
    font-family: 'Comic Sans MS', cursive;
    font-size: xx-large;
    color:blue;
    background-color: bisque;
    padding: 0.4em ;

    position: absolute;
    top: 500px;
    left: 45vw;
}

.startbutton:hover{
    animation: shadow 1s ease 1;
}

@keyframes shadow {

0%{
    box-shadow: 0px 0px black;
    transform:translate(0px, 0px);
}

100%{
    box-shadow: 5px 5px black;
    transform:translate(-5px, -5px);
}

}

.question{
    display: block;
    font-family: comic sans-serif;
    margin: 10px;
}

.option{
    display: flexbox;
    border: 2px solid salmon;
    border-radius: 10px;
    text-align: center;
    padding: 55px;
    flex: 1;
    object-fit:cover;
    margin: 10px;
    transition-timing-function: ease;
    transition-duration: 0.3s;
}

.submit{
    position: absolute;
    top: 3vh;
    right: 1.5vw;
    font-size: larger;
    padding: 1em;
    background-color: red;
    color: white;
    border: 0.2em solid black;
}

.image{
    width: 30vw;
    height: 20vh;
}

.qset{
    border: 2px solid salmon;
    background-color: aquamarine;
    display:none;
    /*in order to hide option*/ 
    justify-content: space-evenly;
    /*
    animation-name: shrink;
    animation-timing-function: ease;
    animation-duration: 1s;
    */
}

.qset1{
    display:none;
    /*animation: shrink 2s ease;*/
}

.qset2{
    display:none;
}

.option:hover{
    transform:translateY(-7px);
}

.textbox{
    display: block;
    max-width: 30vw;
    font-size: 5px;
}

.result-page{
display: none;
}


@keyframes shrink {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(0) rotate(2880deg); /* 8 full spins */
    }
}



@keyframes grow {
    0% {
        transform: scale(0) rotate(2880deg);
    }
    100% {
        transform: scale(1) rotate(0deg); /* 8 full spins */
    }
}

.stylebutton{
position: absolute;
background-color: chartreuse;
bottom: 50vh;
right: 0;
color: black;
}

.reveal{
    font-family: 'Comic Sans MS', cursive;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid black;
    bottom: 20vh;

}

.star{
    width: 100vw;
    height: 40vh
}

.resetbutton{
display: none;
position: absolute;
background-color: red;
bottom: 20vh;
right: 48vw;
color: whitesmoke;
border: solid 1px black;
padding: 4px;
text-align: center;
border-radius: 1px;
animation: appear 1s ease 1;
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}